<mat-icon class="return__icon" routerLink="home" >arrow_back</mat-icon>

<div class="detail" *ngIf="album">
  <div class="album__detail">
    <div class="img__container">
      <img class="img__detail" [src]="album.coverImage" [alt]="album.title">
    </div>
    <section class="data__detail" >
      <span>Álbum</span>
      <h1>{{ album.title }}</h1>
      <div>
        <h2>
          <span>
            {{ album.artist }}
          </span>
          . {{album.releaseDate}} . {{album.songs.length}} songs
        </h2>
      </div>
    </section>
  </div>
  <div class="song__detail">
    <ul class="song__detail__list">
      <li class="song__detail__item" *ngFor="let song of album.songs">
        <div>
          <span class="song__track">
            {{song.trackNumber}}
          </span>
          <mat-icon class="song__icon">
            play_arrow
          </mat-icon>
          <span>
            {{ song.title }}
          </span>
        </div>
        <span>
          {{ song.duration }}
        </span>
      </li>
    </ul>
  </div>
</div>

