.container {
  display: flex;
}

.app-sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
  padding: 20px;
}

.page-container {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 200px);
}

// .container {
//   display: flex;
// }

// .page-container {
//   flex: 1;
//   padding: 20px;
// }

