<h1 class="welcome">Welcome!</h1>

<div class="albums">
  <ul class="albums__list">
    <li class="albums__item" *ngFor="let album of albums">
      <div [routerLink]="['/albums', album.id]" class="albums__item__container" >
        <img class="album__img" width="100" [src]="album.coverImage" alt="album">
        <h2 class="album__title" >
          {{album.title}}
        </h2>
        <mat-icon class="album__icon" >
          play_circle
        </mat-icon>
      </div>
    </li>
  </ul>
</div>

<h1 class="welcome">All The Songs</h1>

<div class="songs">
  <ul class="songs__list">
    <li class="songs__item" *ngFor="let song of songs">
      <div class="songs__item__container">
        <h3 class="songs__title" >
          {{song.title}}
        </h3>
        <mat-icon class="album__icon" >
          play_circle
        </mat-icon>
      </div>
    </li>
  </ul>
</div>

