<h1 class="welcome">Welcome!</h1>

<div class="albums">
  <ul class="albums__list">
    <li class="albums__item" *ngFor="let album of albums">
      <div>
        <img class="album__img" width="100" [src]="album.coverImage" alt="album">
        <h2 class="album__title" >{{album.title}}</h2>
        <mat-icon class="album__icon" >play_circle</mat-icon>
      </div>
    </li>
  </ul>
</div>

<!-- <div class="songs__container">
  <ul>
    <li *ngFor="let song of songs">
      <div>
        <h1>{{song.title}}</h1>
      </div>
    </li>
  </ul>
</div> -->
