
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  // width: 200px;
  background-color: #000000;
  color: #b3b3b3;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.nav__logo{
  display: flex;
  align-items: center;

  button{
    background-color: #000000;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.nav__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__links {
  margin-top: 50px;
  list-style: none;
  padding: 0;

  li{
    margin-bottom: 15px;
  }

  a{
    color: #b3b3b3;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;

    span{
      width: 60px;
    }

    &:hover{
      color: #fff;
    }

    &.active{
      color: #fff;
    }
  }
}
